name = "memos-worker"
compatibility_date = "2025-08-19"
main = "src/index.js"
[assets]
directory = "./src/public"
run_worker_first = [
	"/api/*"
]

[[d1_databases]]
binding = "DB"
database_id = "c1437068-e546-4410-a103-da7ec4a2d73d"
database_name = "memos-worker-db"

[[kv_namespaces]]
binding = "NOTES_KV"
id = "f98110a3c9f647f19a8a4355b4bc31ba"
preview_id = ""

[[r2_buckets]]
binding = "NOTES_R2_BUCKET"
bucket_name = "memos-worker-r2"
preview_bucket_name = "notes-files-preview"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
