name = "memos-worker"
compatibility_date = "2025-08-19"
main = "src/index.js"
[assets]
directory = "./src/public"
run_worker_first = [
	"/api/*"
]

[[d1_databases]]
binding = "DB"
database_id = "8d9cd0bd-bca3-455f-967c-e5c4078879bf"
database_name = "memos-worker-db-test"

[[kv_namespaces]]
binding = "NOTES_KV"
id = "12037f6aa20a4a3d8d02868e3a4a0f60"
preview_id = ""

[[r2_buckets]]
binding = "NOTES_R2_BUCKET"
bucket_name = "memos-worker-r2-test"
preview_bucket_name = "notes-files-preview"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
